---
layout: base
permalink: /index.html
title: 'БелСкейтРесурс'
description: 'БелСкейтРесурс - комплекс решений, направленных на эффективную реализацию проектов в сегменте «Скейтбординг» в Республике Беларусь.'

---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
    {% svg "divider/waves", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="prose wrapper flow">

      <p>
        <strong>БелСкейтРесурс</strong> — комплекс решений, направленных на эффективную реализацию проектов в сегменте «Скейтбординг» в
        Республике Беларусь.
      </p>
      <img src="/assets/images/belskate/main.jpg" alt="Скeйтбордист на фигуре" width="1000">
      <p>
        БелСкейтРесурс — команда профессионалов, осуществляющих деятельность в сфере скейтбординга с 2008 года и имеющая опыт
        реализации знаковых проектов в Республике Беларусь, среди которых: первый крытый скейтпарк, крупнейшие международные
        соревнования Extreme Games Belarus, скейтпарки открытого типа с оборудованием олимпийских дисциплин «street», «park»,
        медиа-проект «Скейтбординг на крыше БЕЛАЗа» и другие.

      </p>
      <p>БелСкейтРесурс — компетенции в следующих направлениях:</p>
      <ul>
        <li>Скейтпарки — комплексное сопровождение проекта «скейтпарк»: от идеи до сдачи объекта открытого, или закрытого типа в
        Республике Беларусь.</li>
        <li>События — организация и проведение событийных мероприятий в направлении «Скейтбординг» в Республике Беларусь.</li>
        <li>Сервис — постгарантийное и текущее сервисное обслуживание объектов в Республике Беларусь.</li>
      </ul>


    </div>
  </article>

</div>
